<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Including the CSS for the file-->
    <include href="views/includes/css.html"></include>

    <title>Admin Table</title>
</head>

<body class="">
    <!--NAVBAR-->
    <include href="views/includes/navbar.html"></include>

    <section class="ml-5 mr-5 p-5">
        <table class="table table-responsive table-bordered table-hover">
            <thead class="bg-grcgreen">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </section>

    <!--Including the JS for the file-->
    <include href="views/includes/js.html"></include>
</body>
</html>