<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!--Including the CSS for the file-->
	<include href="views/includes/css.html"></include>

	<title>Home</title>
</head>
<body class="grfont">
	<!--NAVBAR-->
	<include href="views/includes/navbar.html"></include>

	<div class="container mt-5">
		<div class="row">
			<div class="col text-center">
				<h1 class="pt-5 pb-3">Home Page</h1>

				<hr>

				<a href="educationPlan" class="btn btn-lg m-3 mt-3 bg-grcgreen text-white">
					New Education Plan
				</a>

				<a href="login" class="btn btn-lg m-3 mt-3 bg-grcgreen text-white">
					Admin Sign In
				</a>
			</div>
		</div>
	</div>



	<!--Including the JS for the file-->
	<include href="views/includes/js.html"></include>
</body>
</html>